<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Publicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="body2">
      <div *ngIf="bookInfo">
        <hr class="line">
        <ion-row>
          <ion-col size="2">
            <ion-avatar class="avatarAuthor">
              <img src="/assets/images/marcelo.jpg"/>
            </ion-avatar>
          </ion-col>
          <ion-col size="10">
            <p class="authorPost">{{ bookInfo.postAuthor }}</p>
            <p class="evaluation">{{ bookInfo.rating }}
              <ion-icon name="star" class="star"></ion-icon>
            </p>
            <p class="datePost">11/12/2012</p>
          </ion-col>
        </ion-row>
        <p class="titleBook">{{ bookInfo.title}}</p>
        <div class="authorBook">De: {{ bookInfo.author}}</div>
        <img class="imgBook" [src]="bookInfo.img"/>
        <p class="opinion">{{bookInfo.opinion}}</p>
      </div>
      <p class="spacer">-- - --</p>
      <p class="titleComment">Comentários:
        <ion-icon class="addComment" name="add-outline"></ion-icon>
      </p>
      <div class="divComment">
        <ion-row>
          <ion-col size="2">
            <ion-avatar class="avatarUser">
              <img src="/assets/images/marcelo.jpg"/>
            </ion-avatar>
          </ion-col>
          <ion-col size="7">
            <p class="dateUser">29/05/2022</p>
            <p class="nameUser">Marcelo Rebelo de Sousa</p>
          </ion-col>
          <ion-col size="3">
            <p class="starsUser">
              <ion-icon name="star"></ion-icon>
              4.9
            </p>
          </ion-col>
        </ion-row>
        <p class="comment">Por exemplo, pode adicionar uma folha de rosto, um cabeçalho e uma barra lateral que combinam
          entre si. Clique em Inserir e escolha os elementos que quiser das diferentes galerias.</p>
      </div>
      <div class="divComment">
        <ion-row>
          <ion-col size="2">
            <ion-avatar class="avatarUser">
              <img src="/assets/images/marcelo.jpg"/>
            </ion-avatar>
          </ion-col>
          <ion-col size="7">
            <p class="dateUser">29/05/2022</p>
            <p class="nameUser">Marcelo Rebelo de Sousa</p>
          </ion-col>
          <ion-col size="3">
            <p class="starsUser">
              <ion-icon name="star"></ion-icon>
              4.9
            </p>
          </ion-col>
        </ion-row>
        <p class="comment">Por exemplo, pode adicionar uma folha de rosto, um cabeçalho e uma barra lateral que combinam
          entre si. Clique em Inserir e escolha os elementos que quiser das diferentes galerias.</p>
      </div>
    </div>
  </div>
</ion-content>
