.topText{
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.midText{
    margin-top: 15%;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 17px;
}

.bottomText{
    margin-top: 10%;
    justify-content: center;
    font-size: 17px;
}