<ion-header [translucent]="true">
  <ion-toolbar color="main">
    <ion-title>
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página Inicial</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-img class="logo" src="/assets/images/liber.png"></ion-img>
  </div>
  <div class="ion-text-center">
    <p class="topText">Bem-Vindo</p>
  </div>
  <div class="ion-text-center">
    <p class="midText">Liber é uma aplicação que permite a partilha de livros, opiniões e avaliações entre todos os utilizadores!</p>
  </div>
  <div class="ion-text-center">
    <p class="bottomText">Começe já a explorar!</p>
  </div>
</ion-content>
