<ion-header>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="logForm()">
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <ion-img class="logo" src="/assets/images/liber.png"></ion-img>
          </div>
          <div class="ion-text-center">
            <h3 class="title">Iniciar Sessão</h3>
          </div>
          <div padding class="fields">
            <ion-item>
              <ion-input formControlName="username" type="username" placeholder="Nome de Utilizador" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password" type="password" placeholder="Palavra Chave" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button class="button" size="large" type="submit" expand="block" color="main" [disabled]="!loginForm.valid" routerLink="/tabs/tab4" routerDirection="forward">Entrar</ion-button>
          </div>
          <div class="ion-text-center">   
            <p class="registar" routerLink="/registar" routerDirection="forward">Não tem conta? Registe-se aqui!</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>