<ion-header [translucent]="true">
  <ion-toolbar color="main">
    <ion-title>
      Pesquisar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pesquisar</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-searchbar [(ngModel)]="searchTerm" showCancelButton="always" animated=""></ion-searchbar>
  </div>
  <ion-item>
    <ion-label>Filtros:</ion-label>
    <ion-select value="1" cancelText="Cancelar" okText="Selecionar">
      <ion-select-option value="1">Melhores Avaliações</ion-select-option>
      <ion-select-option value="2">Piores Avaliações</ion-select-option>
      <ion-select-option value="3">Recentes Publicações</ion-select-option>
      <ion-select-option value="4">Antigas Publicações</ion-select-option>
      <ion-select-option value="5">Organizar A~Z</ion-select-option>
      <ion-select-option value="6">Organizar Z~A</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list class="list">
    <ion-item *ngFor="let book of dataBooks | keyvalue | filter:searchTerm" class="ion-margin" (click)="seeBookDetail(book.value.title)">
      <ion-avatar slot="start" class="avatar">
        <img [src]="book.value.img"/>
      </ion-avatar>
      <ion-label>
        <h2>{{ book.value.title }}</h2>
        <h3>{{ book.value["author"] }}</h3>
        <div>{{ book.value["rating"] }}
          <ion-icon class="stars" name="star"></ion-icon>
        </div>
        <p>
          <ion-icon class="iconUser" name="person"></ion-icon>
          {{ book.value["postAuthor"]}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
