.fields{
    margin-top: 15%;
}

.title{
    margin-top: 10%;
    font-size: 30px;
    font-weight: bold;
}

.button{
    margin-top: 15%;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.register{
    margin-top: 80%;
    font-size: 5px;
}

.backButton{
    margin-top: 5%;
}